$palette-1: #14080E;
$palette-2: #49475B;
$palette-3: #799496;
$palette-4: #ACC196;
$palette-5: #E9EB9E;
$palette-grey-1: #cccccc;
$palette-grey-2: #666666;
$palette-grey-3: #9a9a9a;

$app-red: #C33C54;
$app-blue: #3F88C5;
$app-green: #26C485;
$app-yellow: #F6E313;
$app-black: #130112;
$app-purple: #F5A3AB;

// New color palette
$tangerine-dream: #e88d67;
$indigo-velvet: #4c2a85;
$glaucous: #6b7fd7;
$frozen-water: #c0e6de;
$frozen-water-2: #ddfff7;
