.App {
}

header {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  background-color: #999;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display:inline;
  margin: 0 20px;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  text-decoration: underline;
  color: white;
}

.primitive {
  font-weight: bold;
}


.a-square, .b-square, .c-square {
  width: 20px;
  height: 20px;
  margin: 0 1px 1px 0;
}
.a-wrapper, .b-wrapper {
  position: absolute;
}
.b-wrapper {
  bottom: 0;
  right: 0;
}
.b-row-wrapper {
  display: flex;
}
.b-square {
  background-color: #666;
}

.a-row-wrapper {
  display: flex;
}
.a-square {
  background-color: #09f;
}

.c-wrapper {
  position: relative;
  float: left; /* to make the width no more than necessary. */
}
.c-row-wrapper {
  display: flex;
}
.c-square {
  background-color:#ccc;
}
.no-show {
  display: none;
}

.year-12-digit-wrapper {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.current-year {
  background-color:#ddd;
}
.century-divider {
  flex-basis: 100%;
  height: 0;
}
.calendar-grid {
  display: flex;
  flex-wrap: wrap;
}
.digit-grid {
  display: grid;
  grid-template-columns: repeat(3, 10px);
}
.year-label {
  font-size: 10px;
  font-weight: bold;
  grid-column: 1/-1;
}
.digit-grid > div {
  font-size: 10px;
}